#content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#frame {
  border: 1px solid #dddd;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.arrow-left:hover, .arrow-right:hover  {
  cursor: pointer;
  /* #66b2b2 */
  filter: invert(76%) sepia(8%) saturate(1675%) hue-rotate(131deg) brightness(84%) contrast(91%);
}

#frame > img {
  width: 600px;
  height: 100%;
  opacity: 0%;
  position: absolute;
  left: 10%;
  transition: opacity 2s ease-in-out;
}

#frame > img.show {
  opacity: 100%;
}

.carousel-nav {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
}

.carousel-nav > div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #dddd;
}

.carousel-nav > div:hover {
  cursor: pointer;
  border-color: orange;
}

.carousel-nav > div.selected {
  background-color: #66b2b2; 
}