#content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#frame {
  border: 1px solid #dddd;
  width: 800px;
  height: 534px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 50px 1fr 50px;
}

.backdrop-top {
  grid-area: 1 / 1 / 2 / 4;
  background: black;
  opacity: 40%;
  position: relative;
  z-index: 5;

}

.backdrop-bottom {
  grid-area: 3 / 1 / 4 / 4;
  background: black;
  opacity: 40%;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-left {
  grid-area: 2 / 1 / 3 / 2;
  background: black;
  opacity: 40%;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}

.backdrop-right {
  grid-area: 2 / 3 / 3 / 4;
  background: black;
  opacity: 40%;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}

.arrow-left {
  filter: invert(100%);
  margin: 0 auto;
}


.arrow-right {
  filter: invert(100%);
  margin: 0 auto;
}

.arrow-left:hover, .arrow-right:hover  {
  cursor: pointer;
  /* #66b2b2 */
  filter: invert(76%) sepia(8%) saturate(1675%) hue-rotate(131deg) brightness(84%) contrast(91%);
}

.img-container {
  grid-area: 1 / 1 / 4 / 4;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.img-container > img {
  max-width:100%;
  max-height:100%;
  opacity: 0%;
  position: absolute;
  transition: opacity 2s ease-in-out;
}

.img-container > img.show {
  opacity: 100%;
}

.carousel-nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
}

.carousel-nav > div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #dddd;
}

.carousel-nav > div:hover {
  cursor: pointer;
  border-color: orange;
}

.carousel-nav > div.selected {
  background-color: #66b2b2; 
}